@font-face {
  font-family: 'heroicons';
  src:  url('fonts/heroicons.eot?fdrrj3');
  src:  url('fonts/heroicons.eot?fdrrj3#iefix') format('embedded-opentype'),
    url('fonts/heroicons.ttf?fdrrj3') format('truetype'),
    url('fonts/heroicons.woff?fdrrj3') format('woff'),
    url('fonts/heroicons.svg?fdrrj3#heroicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'heroicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-academic-cap-outline:before {
  content: "\e900";
}
.icon-adjustments-horizontal-outline:before {
  content: "\e901";
}
.icon-adjustments-vertical-outline:before {
  content: "\e902";
}
.icon-archive-box-arrow-down-outline:before {
  content: "\e903";
}
.icon-archive-box-x-mark-outline:before {
  content: "\e904";
}
.icon-archive-box-outline:before {
  content: "\e905";
}
.icon-arrow-down-circle-outline:before {
  content: "\e906";
}
.icon-arrow-down-left-outline:before {
  content: "\e907";
}
.icon-arrow-down-on-square-stack-outline:before {
  content: "\e908";
}
.icon-arrow-down-on-square-outline:before {
  content: "\e909";
}
.icon-arrow-down-right-outline:before {
  content: "\e90a";
}
.icon-arrow-down-tray-outline:before {
  content: "\e90b";
}
.icon-arrow-down-outline:before {
  content: "\e90c";
}
.icon-arrow-left-circle-outline:before {
  content: "\e90d";
}
.icon-arrow-left-on-rectangle-outline:before {
  content: "\e90e";
}
.icon-arrow-left-outline:before {
  content: "\e90f";
}
.icon-arrow-long-down-outline:before {
  content: "\e910";
}
.icon-arrow-long-left-outline:before {
  content: "\e911";
}
.icon-arrow-long-right-outline:before {
  content: "\e912";
}
.icon-arrow-long-up-outline:before {
  content: "\e913";
}
.icon-arrow-path-rounded-square-outline:before {
  content: "\e914";
}
.icon-arrow-path-outline:before {
  content: "\e915";
}
.icon-arrow-right-circle-outline:before {
  content: "\e916";
}
.icon-arrow-right-on-rectangle-outline:before {
  content: "\e917";
}
.icon-arrow-right-outline:before {
  content: "\e918";
}
.icon-arrow-small-down-outline:before {
  content: "\e919";
}
.icon-arrow-small-left-outline:before {
  content: "\e91a";
}
.icon-arrow-small-right-outline:before {
  content: "\e91b";
}
.icon-arrow-small-up-outline:before {
  content: "\e91c";
}
.icon-arrow-top-right-on-square-outline:before {
  content: "\e91d";
}
.icon-arrow-trending-down-outline:before {
  content: "\e91e";
}
.icon-arrow-trending-up-outline:before {
  content: "\e91f";
}
.icon-arrow-up-circle-outline:before {
  content: "\e920";
}
.icon-arrow-up-left-outline:before {
  content: "\e921";
}
.icon-arrow-up-on-square-stack-outline:before {
  content: "\e922";
}
.icon-arrow-up-on-square-outline:before {
  content: "\e923";
}
.icon-arrow-up-right-outline:before {
  content: "\e924";
}
.icon-arrow-up-tray-outline:before {
  content: "\e925";
}
.icon-arrow-up-outline:before {
  content: "\e926";
}
.icon-arrow-uturn-down-outline:before {
  content: "\e927";
}
.icon-arrow-uturn-left-outline:before {
  content: "\e928";
}
.icon-arrow-uturn-right-outline:before {
  content: "\e929";
}
.icon-arrow-uturn-up-outline:before {
  content: "\e92a";
}
.icon-arrows-pointing-in-outline:before {
  content: "\e92b";
}
.icon-arrows-pointing-out-outline:before {
  content: "\e92c";
}
.icon-arrows-right-left-outline:before {
  content: "\e92d";
}
.icon-arrows-up-down-outline:before {
  content: "\e92e";
}
.icon-at-symbol-outline:before {
  content: "\e92f";
}
.icon-backspace-outline:before {
  content: "\e930";
}
.icon-backward-outline:before {
  content: "\e931";
}
.icon-banknotes-outline:before {
  content: "\e932";
}
.icon-bars-2-outline:before {
  content: "\e933";
}
.icon-bars-3-bottom-left-outline:before {
  content: "\e934";
}
.icon-bars-3-bottom-right-outline:before {
  content: "\e935";
}
.icon-bars-3-center-left-outline:before {
  content: "\e936";
}
.icon-bars-3-outline:before {
  content: "\e937";
}
.icon-bars-4-outline:before {
  content: "\e938";
}
.icon-bars-arrow-down-outline:before {
  content: "\e939";
}
.icon-bars-arrow-up-outline:before {
  content: "\e93a";
}
.icon-battery-0-outline:before {
  content: "\e93b";
}
.icon-battery-50-outline:before {
  content: "\e93c";
}
.icon-battery-100-outline:before {
  content: "\e93d";
}
.icon-beaker-outline:before {
  content: "\e93e";
}
.icon-bell-alert-outline:before {
  content: "\e93f";
}
.icon-bell-slash-outline:before {
  content: "\e940";
}
.icon-bell-snooze-outline:before {
  content: "\e941";
}
.icon-bell-outline:before {
  content: "\e942";
}
.icon-bolt-slash-outline:before {
  content: "\e943";
}
.icon-bolt-outline:before {
  content: "\e944";
}
.icon-book-open-outline:before {
  content: "\e945";
}
.icon-bookmark-slash-outline:before {
  content: "\e946";
}
.icon-bookmark-square-outline:before {
  content: "\e947";
}
.icon-bookmark-outline:before {
  content: "\e948";
}
.icon-briefcase-outline:before {
  content: "\e949";
}
.icon-bug-ant-outline:before {
  content: "\e94a";
}
.icon-building-library-outline:before {
  content: "\e94b";
}
.icon-building-office-2-outline:before {
  content: "\e94c";
}
.icon-building-office-outline:before {
  content: "\e94d";
}
.icon-building-storefront-outline:before {
  content: "\e94e";
}
.icon-cake-outline:before {
  content: "\e94f";
}
.icon-calculator-outline:before {
  content: "\e950";
}
.icon-calendar-days-outline:before {
  content: "\e951";
}
.icon-calendar-outline:before {
  content: "\e952";
}
.icon-camera-outline:before {
  content: "\e953";
}
.icon-chart-bar-square-outline:before {
  content: "\e954";
}
.icon-chart-bar-outline:before {
  content: "\e955";
}
.icon-chart-pie-outline:before {
  content: "\e956";
}
.icon-chat-bubble-bottom-center-text-outline:before {
  content: "\e957";
}
.icon-chat-bubble-bottom-center-outline:before {
  content: "\e958";
}
.icon-chat-bubble-left-ellipsis-outline:before {
  content: "\e959";
}
.icon-chat-bubble-left-right-outline:before {
  content: "\e95a";
}
.icon-chat-bubble-left-outline:before {
  content: "\e95b";
}
.icon-chat-bubble-oval-left-ellipsis-outline:before {
  content: "\e95c";
}
.icon-chat-bubble-oval-left-outline:before {
  content: "\e95d";
}
.icon-check-badge-outline:before {
  content: "\e95e";
}
.icon-check-circle-outline:before {
  content: "\e95f";
}
.icon-check-outline:before {
  content: "\e960";
}
.icon-chevron-double-down-outline:before {
  content: "\e961";
}
.icon-chevron-double-left-outline:before {
  content: "\e962";
}
.icon-chevron-double-right-outline:before {
  content: "\e963";
}
.icon-chevron-double-up-outline:before {
  content: "\e964";
}
.icon-chevron-down-outline:before {
  content: "\e965";
}
.icon-chevron-left-outline:before {
  content: "\e966";
}
.icon-chevron-right-outline:before {
  content: "\e967";
}
.icon-chevron-up-down-outline:before {
  content: "\e968";
}
.icon-chevron-up-outline:before {
  content: "\e969";
}
.icon-circle-stack-outline:before {
  content: "\e96a";
}
.icon-clipboard-document-check-outline:before {
  content: "\e96b";
}
.icon-clipboard-document-list-outline:before {
  content: "\e96c";
}
.icon-clipboard-document-outline:before {
  content: "\e96d";
}
.icon-clipboard-outline:before {
  content: "\e96e";
}
.icon-clock-outline:before {
  content: "\e96f";
}
.icon-cloud-arrow-down-outline:before {
  content: "\e970";
}
.icon-cloud-arrow-up-outline:before {
  content: "\e971";
}
.icon-cloud-outline:before {
  content: "\e972";
}
.icon-code-bracket-square-outline:before {
  content: "\e973";
}
.icon-code-bracket-outline:before {
  content: "\e974";
}
.icon-cog-6-tooth-outline:before {
  content: "\e975";
}
.icon-cog-8-tooth-outline:before {
  content: "\e976";
}
.icon-cog-outline:before {
  content: "\e977";
}
.icon-command-line-outline:before {
  content: "\e978";
}
.icon-computer-desktop-outline:before {
  content: "\e979";
}
.icon-cpu-chip-outline:before {
  content: "\e97a";
}
.icon-credit-card-outline:before {
  content: "\e97b";
}
.icon-cube-transparent-outline:before {
  content: "\e97c";
}
.icon-cube-outline:before {
  content: "\e97d";
}
.icon-currency-bangladeshi-outline:before {
  content: "\e97e";
}
.icon-currency-dollar-outline:before {
  content: "\e97f";
}
.icon-currency-euro-outline:before {
  content: "\e980";
}
.icon-currency-pound-outline:before {
  content: "\e981";
}
.icon-currency-rupee-outline:before {
  content: "\e982";
}
.icon-currency-yen-outline:before {
  content: "\e983";
}
.icon-cursor-arrow-rays-outline:before {
  content: "\e984";
}
.icon-cursor-arrow-ripple-outline:before {
  content: "\e985";
}
.icon-device-phone-mobile-outline:before {
  content: "\e986";
}
.icon-device-tablet-outline:before {
  content: "\e987";
}
.icon-document-arrow-down-outline:before {
  content: "\e988";
}
.icon-document-arrow-up-outline:before {
  content: "\e989";
}
.icon-document-chart-bar-outline:before {
  content: "\e98a";
}
.icon-document-check-outline:before {
  content: "\e98b";
}
.icon-document-duplicate-outline:before {
  content: "\e98c";
}
.icon-document-magnifying-glass-outline:before {
  content: "\e98d";
}
.icon-document-minus-outline:before {
  content: "\e98e";
}
.icon-document-plus-outline:before {
  content: "\e98f";
}
.icon-document-text-outline:before {
  content: "\e990";
}
.icon-document-outline:before {
  content: "\e991";
}
.icon-ellipsis-horizontal-circle-outline:before {
  content: "\e992";
}
.icon-ellipsis-horizontal-outline:before {
  content: "\e993";
}
.icon-ellipsis-vertical-outline:before {
  content: "\e994";
}
.icon-envelope-open-outline:before {
  content: "\e995";
}
.icon-envelope-outline:before {
  content: "\e996";
}
.icon-exclamation-circle-outline:before {
  content: "\e997";
}
.icon-exclamation-triangle-outline:before {
  content: "\e998";
}
.icon-eye-dropper-outline:before {
  content: "\e999";
}
.icon-eye-slash-outline:before {
  content: "\e99a";
}
.icon-eye-outline:before {
  content: "\e99b";
}
.icon-face-frown-outline:before {
  content: "\e99c";
}
.icon-face-smile-outline:before {
  content: "\e99d";
}
.icon-film-outline:before {
  content: "\e99e";
}
.icon-finger-print-outline:before {
  content: "\e99f";
}
.icon-fire-outline:before {
  content: "\e9a0";
}
.icon-flag-outline:before {
  content: "\e9a1";
}
.icon-folder-arrow-down-outline:before {
  content: "\e9a2";
}
.icon-folder-minus-outline:before {
  content: "\e9a3";
}
.icon-folder-open-outline:before {
  content: "\e9a4";
}
.icon-folder-plus-outline:before {
  content: "\e9a5";
}
.icon-folder-outline:before {
  content: "\e9a6";
}
.icon-forward-outline:before {
  content: "\e9a7";
}
.icon-funnel-outline:before {
  content: "\e9a8";
}
.icon-gif-outline:before {
  content: "\e9a9";
}
.icon-gift-top-outline:before {
  content: "\e9aa";
}
.icon-gift-outline:before {
  content: "\e9ab";
}
.icon-globe-alt-outline:before {
  content: "\e9ac";
}
.icon-globe-americas-outline:before {
  content: "\e9ad";
}
.icon-globe-asia-australia-outline:before {
  content: "\e9ae";
}
.icon-globe-europe-africa-outline:before {
  content: "\e9af";
}
.icon-hand-raised-outline:before {
  content: "\e9b0";
}
.icon-hand-thumb-down-outline:before {
  content: "\e9b1";
}
.icon-hand-thumb-up-outline:before {
  content: "\e9b2";
}
.icon-hashtag-outline:before {
  content: "\e9b3";
}
.icon-heart-outline:before {
  content: "\e9b4";
}
.icon-home-modern-outline:before {
  content: "\e9b5";
}
.icon-home-outline:before {
  content: "\e9b6";
}
.icon-identification-outline:before {
  content: "\e9b7";
}
.icon-inbox-arrow-down-outline:before {
  content: "\e9b8";
}
.icon-inbox-stack-outline:before {
  content: "\e9b9";
}
.icon-inbox-outline:before {
  content: "\e9ba";
}
.icon-information-circle-outline:before {
  content: "\e9bb";
}
.icon-key-outline:before {
  content: "\e9bc";
}
.icon-language-outline:before {
  content: "\e9bd";
}
.icon-lifebuoy-outline:before {
  content: "\e9be";
}
.icon-light-bulb-outline:before {
  content: "\e9bf";
}
.icon-link-outline:before {
  content: "\e9c0";
}
.icon-list-bullet-outline:before {
  content: "\e9c1";
}
.icon-lock-closed-outline:before {
  content: "\e9c2";
}
.icon-lock-open-outline:before {
  content: "\e9c3";
}
.icon-magnifying-glass-circle-outline:before {
  content: "\e9c4";
}
.icon-magnifying-glass-minus-outline:before {
  content: "\e9c5";
}
.icon-magnifying-glass-plus-outline:before {
  content: "\e9c6";
}
.icon-magnifying-glass-outline:before {
  content: "\e9c7";
}
.icon-map-pin-outline:before {
  content: "\e9c8";
}
.icon-map-outline:before {
  content: "\e9c9";
}
.icon-megaphone-outline:before {
  content: "\e9ca";
}
.icon-microphone-outline:before {
  content: "\e9cb";
}
.icon-minus-circle-outline:before {
  content: "\e9cc";
}
.icon-minus-small-outline:before {
  content: "\e9cd";
}
.icon-minus-outline:before {
  content: "\e9ce";
}
.icon-moon-outline:before {
  content: "\e9cf";
}
.icon-musical-note-outline:before {
  content: "\e9d0";
}
.icon-newspaper-outline:before {
  content: "\e9d1";
}
.icon-no-symbol-outline:before {
  content: "\e9d2";
}
.icon-paint-brush-outline:before {
  content: "\e9d3";
}
.icon-paper-airplane-outline:before {
  content: "\e9d4";
}
.icon-paper-clip-outline:before {
  content: "\e9d5";
}
.icon-pause-circle-outline:before {
  content: "\e9d6";
}
.icon-pause-outline:before {
  content: "\e9d7";
}
.icon-pencil-square-outline:before {
  content: "\e9d8";
}
.icon-pencil-outline:before {
  content: "\e9d9";
}
.icon-phone-arrow-down-left-outline:before {
  content: "\e9da";
}
.icon-phone-arrow-up-right-outline:before {
  content: "\e9db";
}
.icon-phone-x-mark-outline:before {
  content: "\e9dc";
}
.icon-phone-outline:before {
  content: "\e9dd";
}
.icon-photo-outline:before {
  content: "\e9de";
}
.icon-play-circle-outline:before {
  content: "\e9df";
}
.icon-play-pause-outline:before {
  content: "\e9e0";
}
.icon-play-outline:before {
  content: "\e9e1";
}
.icon-plus-circle-outline:before {
  content: "\e9e2";
}
.icon-plus-small-outline:before {
  content: "\e9e3";
}
.icon-plus-outline:before {
  content: "\e9e4";
}
.icon-power-outline:before {
  content: "\e9e5";
}
.icon-presentation-chart-bar-outline:before {
  content: "\e9e6";
}
.icon-presentation-chart-line-outline:before {
  content: "\e9e7";
}
.icon-printer-outline:before {
  content: "\e9e8";
}
.icon-puzzle-piece-outline:before {
  content: "\e9e9";
}
.icon-qr-code-outline:before {
  content: "\e9ea";
}
.icon-question-mark-circle-outline:before {
  content: "\e9eb";
}
.icon-queue-list-outline:before {
  content: "\e9ec";
}
.icon-radio-outline:before {
  content: "\e9ed";
}
.icon-receipt-percent-outline:before {
  content: "\e9ee";
}
.icon-receipt-refund-outline:before {
  content: "\e9ef";
}
.icon-rectangle-group-outline:before {
  content: "\e9f0";
}
.icon-rectangle-stack-outline:before {
  content: "\e9f1";
}
.icon-rocket-launch-outline:before {
  content: "\e9f2";
}
.icon-rss-outline:before {
  content: "\e9f3";
}
.icon-scale-outline:before {
  content: "\e9f4";
}
.icon-scissors-outline:before {
  content: "\e9f5";
}
.icon-server-stack-outline:before {
  content: "\e9f6";
}
.icon-server-outline:before {
  content: "\e9f7";
}
.icon-share-outline:before {
  content: "\e9f8";
}
.icon-shield-check-outline:before {
  content: "\e9f9";
}
.icon-shield-exclamation-outline:before {
  content: "\e9fa";
}
.icon-shopping-bag-outline:before {
  content: "\e9fb";
}
.icon-shopping-cart-outline:before {
  content: "\e9fc";
}
.icon-signal-slash-outline:before {
  content: "\e9fd";
}
.icon-signal-outline:before {
  content: "\e9fe";
}
.icon-sparkles-outline:before {
  content: "\e9ff";
}
.icon-speaker-wave-outline:before {
  content: "\ea00";
}
.icon-speaker-x-mark-outline:before {
  content: "\ea01";
}
.icon-square-2-stack-outline:before {
  content: "\ea02";
}
.icon-square-3-stack-3d-outline:before {
  content: "\ea03";
}
.icon-squares-2x2-outline:before {
  content: "\ea04";
}
.icon-squares-plus-outline:before {
  content: "\ea05";
}
.icon-star-outline:before {
  content: "\ea06";
}
.icon-stop-circle-outline:before {
  content: "\ea07";
}
.icon-stop-outline:before {
  content: "\ea08";
}
.icon-sun-outline:before {
  content: "\ea09";
}
.icon-swatch-outline:before {
  content: "\ea0a";
}
.icon-table-cells-outline:before {
  content: "\ea0b";
}
.icon-tag-outline:before {
  content: "\ea0c";
}
.icon-ticket-outline:before {
  content: "\ea0d";
}
.icon-trash-outline:before {
  content: "\ea0e";
}
.icon-trophy-outline:before {
  content: "\ea0f";
}
.icon-truck-outline:before {
  content: "\ea10";
}
.icon-tv-outline:before {
  content: "\ea11";
}
.icon-user-circle-outline:before {
  content: "\ea12";
}
.icon-user-group-outline:before {
  content: "\ea13";
}
.icon-user-minus-outline:before {
  content: "\ea14";
}
.icon-user-plus-outline:before {
  content: "\ea15";
}
.icon-user-outline:before {
  content: "\ea16";
}
.icon-users-outline:before {
  content: "\ea17";
}
.icon-variable-outline:before {
  content: "\ea18";
}
.icon-video-camera-slash-outline:before {
  content: "\ea19";
}
.icon-video-camera-outline:before {
  content: "\ea1a";
}
.icon-view-columns-outline:before {
  content: "\ea1b";
}
.icon-viewfinder-circle-outline:before {
  content: "\ea1c";
}
.icon-wallet-outline:before {
  content: "\ea1d";
}
.icon-wifi-outline:before {
  content: "\ea1e";
}
.icon-window-outline:before {
  content: "\ea1f";
}
.icon-wrench-screwdriver-outline:before {
  content: "\ea20";
}
.icon-wrench-outline:before {
  content: "\ea21";
}
.icon-x-circle-outline:before {
  content: "\ea22";
}
.icon-x-mark-outline:before {
  content: "\ea23";
}
