@font-face {
  font-family: 'heroicons';
  src:  url('fonts/heroicons.eot?a2ibx5');
  src:  url('fonts/heroicons.eot?a2ibx5#iefix') format('embedded-opentype'),
    url('fonts/heroicons.ttf?a2ibx5') format('truetype'),
    url('fonts/heroicons.woff?a2ibx5') format('woff'),
    url('fonts/heroicons.svg?a2ibx5#heroicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'heroicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-academic-cap-solid:before {
  content: "\e900";
}
.icon-adjustments-horizontal-solid:before {
  content: "\e901";
}
.icon-adjustments-vertical-solid:before {
  content: "\e902";
}
.icon-archive-box-arrow-down-solid:before {
  content: "\e903";
}
.icon-archive-box-x-mark-solid:before {
  content: "\e904";
}
.icon-archive-box-solid:before {
  content: "\e905";
}
.icon-arrow-down-circle-solid:before {
  content: "\e906";
}
.icon-arrow-down-left-solid:before {
  content: "\e907";
}
.icon-arrow-down-on-square-stack-solid:before {
  content: "\e908";
}
.icon-arrow-down-on-square-solid:before {
  content: "\e909";
}
.icon-arrow-down-right-solid:before {
  content: "\e90a";
}
.icon-arrow-down-tray-solid:before {
  content: "\e90b";
}
.icon-arrow-down-solid:before {
  content: "\e90c";
}
.icon-arrow-left-circle-solid:before {
  content: "\e90d";
}
.icon-arrow-left-on-rectangle-solid:before {
  content: "\e90e";
}
.icon-arrow-left-solid:before {
  content: "\e90f";
}
.icon-arrow-long-down-solid:before {
  content: "\e910";
}
.icon-arrow-long-left-solid:before {
  content: "\e911";
}
.icon-arrow-long-right-solid:before {
  content: "\e912";
}
.icon-arrow-long-up-solid:before {
  content: "\e913";
}
.icon-arrow-path-rounded-square-solid:before {
  content: "\e914";
}
.icon-arrow-path-solid:before {
  content: "\e915";
}
.icon-arrow-right-circle-solid:before {
  content: "\e916";
}
.icon-arrow-right-on-rectangle-solid:before {
  content: "\e917";
}
.icon-arrow-right-solid:before {
  content: "\e918";
}
.icon-arrow-small-down-solid:before {
  content: "\e919";
}
.icon-arrow-small-left-solid:before {
  content: "\e91a";
}
.icon-arrow-small-right-solid:before {
  content: "\e91b";
}
.icon-arrow-small-up-solid:before {
  content: "\e91c";
}
.icon-arrow-top-right-on-square-solid:before {
  content: "\e91d";
}
.icon-arrow-trending-down-solid:before {
  content: "\e91e";
}
.icon-arrow-trending-up-solid:before {
  content: "\e91f";
}
.icon-arrow-up-circle-solid:before {
  content: "\e920";
}
.icon-arrow-up-left-solid:before {
  content: "\e921";
}
.icon-arrow-up-on-square-stack-solid:before {
  content: "\e922";
}
.icon-arrow-up-on-square-solid:before {
  content: "\e923";
}
.icon-arrow-up-right-solid:before {
  content: "\e924";
}
.icon-arrow-up-tray-solid:before {
  content: "\e925";
}
.icon-arrow-up-solid:before {
  content: "\e926";
}
.icon-arrow-uturn-down-solid:before {
  content: "\e927";
}
.icon-arrow-uturn-left-solid:before {
  content: "\e928";
}
.icon-arrow-uturn-right-solid:before {
  content: "\e929";
}
.icon-arrow-uturn-up-solid:before {
  content: "\e92a";
}
.icon-arrows-pointing-in-solid:before {
  content: "\e92b";
}
.icon-arrows-pointing-out-solid:before {
  content: "\e92c";
}
.icon-arrows-right-left-solid:before {
  content: "\e92d";
}
.icon-arrows-up-down-solid:before {
  content: "\e92e";
}
.icon-at-symbol-solid:before {
  content: "\e92f";
}
.icon-backspace-solid:before {
  content: "\e930";
}
.icon-backward-solid:before {
  content: "\e931";
}
.icon-banknotes-solid:before {
  content: "\e932";
}
.icon-bars-2-solid:before {
  content: "\e933";
}
.icon-bars-3-bottom-left-solid:before {
  content: "\e934";
}
.icon-bars-3-bottom-right-solid:before {
  content: "\e935";
}
.icon-bars-3-center-left-solid:before {
  content: "\e936";
}
.icon-bars-3-solid:before {
  content: "\e937";
}
.icon-bars-4-solid:before {
  content: "\e938";
}
.icon-bars-arrow-down-solid:before {
  content: "\e939";
}
.icon-bars-arrow-up-solid:before {
  content: "\e93a";
}
.icon-battery-0-solid:before {
  content: "\e93b";
}
.icon-battery-50-solid:before {
  content: "\e93c";
}
.icon-battery-100-solid:before {
  content: "\e93d";
}
.icon-beaker-solid:before {
  content: "\e93e";
}
.icon-bell-alert-solid:before {
  content: "\e93f";
}
.icon-bell-slash-solid:before {
  content: "\e940";
}
.icon-bell-snooze-solid:before {
  content: "\e941";
}
.icon-bell-solid:before {
  content: "\e942";
}
.icon-bolt-slash-solid:before {
  content: "\e943";
}
.icon-bolt-solid:before {
  content: "\e944";
}
.icon-book-open-solid:before {
  content: "\e945";
}
.icon-bookmark-slash-solid:before {
  content: "\e946";
}
.icon-bookmark-square-solid:before {
  content: "\e947";
}
.icon-bookmark-solid:before {
  content: "\e948";
}
.icon-briefcase-solid:before {
  content: "\e949";
}
.icon-bug-ant-solid:before {
  content: "\e94a";
}
.icon-building-library-solid:before {
  content: "\e94b";
}
.icon-building-office-2-solid:before {
  content: "\e94c";
}
.icon-building-office-solid:before {
  content: "\e94d";
}
.icon-building-storefront-solid:before {
  content: "\e94e";
}
.icon-cake-solid:before {
  content: "\e94f";
}
.icon-calculator-solid:before {
  content: "\e950";
}
.icon-calendar-days-solid:before {
  content: "\e951";
}
.icon-calendar-solid:before {
  content: "\e952";
}
.icon-camera-solid:before {
  content: "\e953";
}
.icon-chart-bar-square-solid:before {
  content: "\e954";
}
.icon-chart-bar-solid:before {
  content: "\e955";
}
.icon-chart-pie-solid:before {
  content: "\e956";
}
.icon-chat-bubble-bottom-center-text-solid:before {
  content: "\e957";
}
.icon-chat-bubble-bottom-center-solid:before {
  content: "\e958";
}
.icon-chat-bubble-left-ellipsis-solid:before {
  content: "\e959";
}
.icon-chat-bubble-left-right-solid:before {
  content: "\e95a";
}
.icon-chat-bubble-left-solid:before {
  content: "\e95b";
}
.icon-chat-bubble-oval-left-ellipsis-solid:before {
  content: "\e95c";
}
.icon-chat-bubble-oval-left-solid:before {
  content: "\e95d";
}
.icon-check-badge-solid:before {
  content: "\e95e";
}
.icon-check-circle-solid:before {
  content: "\e95f";
}
.icon-check-solid:before {
  content: "\e960";
}
.icon-chevron-double-down-solid:before {
  content: "\e961";
}
.icon-chevron-double-left-solid:before {
  content: "\e962";
}
.icon-chevron-double-right-solid:before {
  content: "\e963";
}
.icon-chevron-double-up-solid:before {
  content: "\e964";
}
.icon-chevron-down-solid:before {
  content: "\e965";
}
.icon-chevron-left-solid:before {
  content: "\e966";
}
.icon-chevron-right-solid:before {
  content: "\e967";
}
.icon-chevron-up-down-solid:before {
  content: "\e968";
}
.icon-chevron-up-solid:before {
  content: "\e969";
}
.icon-circle-stack-solid:before {
  content: "\e96a";
}
.icon-clipboard-document-check-solid:before {
  content: "\e96b";
}
.icon-clipboard-document-list-solid:before {
  content: "\e96c";
}
.icon-clipboard-document-solid:before {
  content: "\e96d";
}
.icon-clipboard-solid:before {
  content: "\e96e";
}
.icon-clock-solid:before {
  content: "\e96f";
}
.icon-cloud-arrow-down-solid:before {
  content: "\e970";
}
.icon-cloud-arrow-up-solid:before {
  content: "\e971";
}
.icon-cloud-solid:before {
  content: "\e972";
}
.icon-code-bracket-square-solid:before {
  content: "\e973";
}
.icon-code-bracket-solid:before {
  content: "\e974";
}
.icon-cog-6-tooth-solid:before {
  content: "\e975";
}
.icon-cog-8-tooth-solid:before {
  content: "\e976";
}
.icon-cog-solid:before {
  content: "\e977";
}
.icon-command-line-solid:before {
  content: "\e978";
}
.icon-computer-desktop-solid:before {
  content: "\e979";
}
.icon-cpu-chip-solid:before {
  content: "\e97a";
}
.icon-credit-card-solid:before {
  content: "\e97b";
}
.icon-cube-transparent-solid:before {
  content: "\e97c";
}
.icon-cube-solid:before {
  content: "\e97d";
}
.icon-currency-bangladeshi-solid:before {
  content: "\e97e";
}
.icon-currency-dollar-solid:before {
  content: "\e97f";
}
.icon-currency-euro-solid:before {
  content: "\e980";
}
.icon-currency-pound-solid:before {
  content: "\e981";
}
.icon-currency-rupee-solid:before {
  content: "\e982";
}
.icon-currency-yen-solid:before {
  content: "\e983";
}
.icon-cursor-arrow-rays-solid:before {
  content: "\e984";
}
.icon-cursor-arrow-ripple-solid:before {
  content: "\e985";
}
.icon-device-phone-mobile-solid:before {
  content: "\e986";
}
.icon-device-tablet-solid:before {
  content: "\e987";
}
.icon-document-arrow-down-solid:before {
  content: "\e988";
}
.icon-document-arrow-up-solid:before {
  content: "\e989";
}
.icon-document-chart-bar-solid:before {
  content: "\e98a";
}
.icon-document-check-solid:before {
  content: "\e98b";
}
.icon-document-duplicate-solid:before {
  content: "\e98c";
}
.icon-document-magnifying-glass-solid:before {
  content: "\e98d";
}
.icon-document-minus-solid:before {
  content: "\e98e";
}
.icon-document-plus-solid:before {
  content: "\e98f";
}
.icon-document-text-solid:before {
  content: "\e990";
}
.icon-document-solid:before {
  content: "\e991";
}
.icon-ellipsis-horizontal-circle-solid:before {
  content: "\e992";
}
.icon-ellipsis-horizontal-solid:before {
  content: "\e993";
}
.icon-ellipsis-vertical-solid:before {
  content: "\e994";
}
.icon-envelope-open-solid:before {
  content: "\e995";
}
.icon-envelope-solid:before {
  content: "\e996";
}
.icon-exclamation-circle-solid:before {
  content: "\e997";
}
.icon-exclamation-triangle-solid:before {
  content: "\e998";
}
.icon-eye-dropper-solid:before {
  content: "\e999";
}
.icon-eye-slash-solid:before {
  content: "\e99a";
}
.icon-eye-solid:before {
  content: "\e99b";
}
.icon-face-frown-solid:before {
  content: "\e99c";
}
.icon-face-smile-solid:before {
  content: "\e99d";
}
.icon-film-solid:before {
  content: "\e99e";
}
.icon-finger-print-solid:before {
  content: "\e99f";
}
.icon-fire-solid:before {
  content: "\e9a0";
}
.icon-flag-solid:before {
  content: "\e9a1";
}
.icon-folder-arrow-down-solid:before {
  content: "\e9a2";
}
.icon-folder-minus-solid:before {
  content: "\e9a3";
}
.icon-folder-open-solid:before {
  content: "\e9a4";
}
.icon-folder-plus-solid:before {
  content: "\e9a5";
}
.icon-folder-solid:before {
  content: "\e9a6";
}
.icon-forward-solid:before {
  content: "\e9a7";
}
.icon-funnel-solid:before {
  content: "\e9a8";
}
.icon-gif-solid:before {
  content: "\e9a9";
}
.icon-gift-top-solid:before {
  content: "\e9aa";
}
.icon-gift-solid:before {
  content: "\e9ab";
}
.icon-globe-alt-solid:before {
  content: "\e9ac";
}
.icon-globe-americas-solid:before {
  content: "\e9ad";
}
.icon-globe-asia-australia-solid:before {
  content: "\e9ae";
}
.icon-globe-europe-africa-solid:before {
  content: "\e9af";
}
.icon-hand-raised-solid:before {
  content: "\e9b0";
}
.icon-hand-thumb-down-solid:before {
  content: "\e9b1";
}
.icon-hand-thumb-up-solid:before {
  content: "\e9b2";
}
.icon-hashtag-solid:before {
  content: "\e9b3";
}
.icon-heart-solid:before {
  content: "\e9b4";
}
.icon-home-modern-solid:before {
  content: "\e9b5";
}
.icon-home-solid:before {
  content: "\e9b6";
}
.icon-identification-solid:before {
  content: "\e9b7";
}
.icon-inbox-arrow-down-solid:before {
  content: "\e9b8";
}
.icon-inbox-stack-solid:before {
  content: "\e9b9";
}
.icon-inbox-solid:before {
  content: "\e9ba";
}
.icon-information-circle-solid:before {
  content: "\e9bb";
}
.icon-key-solid:before {
  content: "\e9bc";
}
.icon-language-solid:before {
  content: "\e9bd";
}
.icon-lifebuoy-solid:before {
  content: "\e9be";
}
.icon-light-bulb-solid:before {
  content: "\e9bf";
}
.icon-link-solid:before {
  content: "\e9c0";
}
.icon-list-bullet-solid:before {
  content: "\e9c1";
}
.icon-lock-closed-solid:before {
  content: "\e9c2";
}
.icon-lock-open-solid:before {
  content: "\e9c3";
}
.icon-magnifying-glass-circle-solid:before {
  content: "\e9c4";
}
.icon-magnifying-glass-minus-solid:before {
  content: "\e9c5";
}
.icon-magnifying-glass-plus-solid:before {
  content: "\e9c6";
}
.icon-magnifying-glass-solid:before {
  content: "\e9c7";
}
.icon-map-pin-solid:before {
  content: "\e9c8";
}
.icon-map-solid:before {
  content: "\e9c9";
}
.icon-megaphone-solid:before {
  content: "\e9ca";
}
.icon-microphone-solid:before {
  content: "\e9cb";
}
.icon-minus-circle-solid:before {
  content: "\e9cc";
}
.icon-minus-small-solid:before {
  content: "\e9cd";
}
.icon-minus-solid:before {
  content: "\e9ce";
}
.icon-moon-solid:before {
  content: "\e9cf";
}
.icon-musical-note-solid:before {
  content: "\e9d0";
}
.icon-newspaper-solid:before {
  content: "\e9d1";
}
.icon-no-symbol-solid:before {
  content: "\e9d2";
}
.icon-paint-brush-solid:before {
  content: "\e9d3";
}
.icon-paper-airplane-solid:before {
  content: "\e9d4";
}
.icon-paper-clip-solid:before {
  content: "\e9d5";
}
.icon-pause-circle-solid:before {
  content: "\e9d6";
}
.icon-pause-solid:before {
  content: "\e9d7";
}
.icon-pencil-square-solid:before {
  content: "\e9d8";
}
.icon-pencil-solid:before {
  content: "\e9d9";
}
.icon-phone-arrow-down-left-solid:before {
  content: "\e9da";
}
.icon-phone-arrow-up-right-solid:before {
  content: "\e9db";
}
.icon-phone-x-mark-solid:before {
  content: "\e9dc";
}
.icon-phone-solid:before {
  content: "\e9dd";
}
.icon-photo-solid:before {
  content: "\e9de";
}
.icon-play-circle-solid:before {
  content: "\e9df";
}
.icon-play-pause-solid:before {
  content: "\e9e0";
}
.icon-play-solid:before {
  content: "\e9e1";
}
.icon-plus-circle-solid:before {
  content: "\e9e2";
}
.icon-plus-small-solid:before {
  content: "\e9e3";
}
.icon-plus-solid:before {
  content: "\e9e4";
}
.icon-power-solid:before {
  content: "\e9e5";
}
.icon-presentation-chart-bar-solid:before {
  content: "\e9e6";
}
.icon-presentation-chart-line-solid:before {
  content: "\e9e7";
}
.icon-printer-solid:before {
  content: "\e9e8";
}
.icon-puzzle-piece-solid:before {
  content: "\e9e9";
}
.icon-qr-code-solid:before {
  content: "\e9ea";
}
.icon-question-mark-circle-solid:before {
  content: "\e9eb";
}
.icon-queue-list-solid:before {
  content: "\e9ec";
}
.icon-radio-solid:before {
  content: "\e9ed";
}
.icon-receipt-percent-solid:before {
  content: "\e9ee";
}
.icon-receipt-refund-solid:before {
  content: "\e9ef";
}
.icon-rectangle-group-solid:before {
  content: "\e9f0";
}
.icon-rectangle-stack-solid:before {
  content: "\e9f1";
}
.icon-rocket-launch-solid:before {
  content: "\e9f2";
}
.icon-rss-solid:before {
  content: "\e9f3";
}
.icon-scale-solid:before {
  content: "\e9f4";
}
.icon-scissors-solid:before {
  content: "\e9f5";
}
.icon-server-stack-solid:before {
  content: "\e9f6";
}
.icon-server-solid:before {
  content: "\e9f7";
}
.icon-share-solid:before {
  content: "\e9f8";
}
.icon-shield-check-solid:before {
  content: "\e9f9";
}
.icon-shield-exclamation-solid:before {
  content: "\e9fa";
}
.icon-shopping-bag-solid:before {
  content: "\e9fb";
}
.icon-shopping-cart-solid:before {
  content: "\e9fc";
}
.icon-signal-slash-solid:before {
  content: "\e9fd";
}
.icon-signal-solid:before {
  content: "\e9fe";
}
.icon-sparkles-solid:before {
  content: "\e9ff";
}
.icon-speaker-wave-solid:before {
  content: "\ea00";
}
.icon-speaker-x-mark-solid:before {
  content: "\ea01";
}
.icon-square-2-stack-solid:before {
  content: "\ea02";
}
.icon-square-3-stack-3d-solid:before {
  content: "\ea03";
}
.icon-squares-2x2-solid:before {
  content: "\ea04";
}
.icon-squares-plus-solid:before {
  content: "\ea05";
}
.icon-star-solid:before {
  content: "\ea06";
}
.icon-stop-circle-solid:before {
  content: "\ea07";
}
.icon-stop-solid:before {
  content: "\ea08";
}
.icon-sun-solid:before {
  content: "\ea09";
}
.icon-swatch-solid:before {
  content: "\ea0a";
}
.icon-table-cells-solid:before {
  content: "\ea0b";
}
.icon-tag-solid:before {
  content: "\ea0c";
}
.icon-ticket-solid:before {
  content: "\ea0d";
}
.icon-trash-solid:before {
  content: "\ea0e";
}
.icon-trophy-solid:before {
  content: "\ea0f";
}
.icon-truck-solid:before {
  content: "\ea10";
}
.icon-tv-solid:before {
  content: "\ea11";
}
.icon-user-circle-solid:before {
  content: "\ea12";
}
.icon-user-group-solid:before {
  content: "\ea13";
}
.icon-user-minus-solid:before {
  content: "\ea14";
}
.icon-user-plus-solid:before {
  content: "\ea15";
}
.icon-user-solid:before {
  content: "\ea16";
}
.icon-users-solid:before {
  content: "\ea17";
}
.icon-variable-solid:before {
  content: "\ea18";
}
.icon-video-camera-slash-solid:before {
  content: "\ea19";
}
.icon-video-camera-solid:before {
  content: "\ea1a";
}
.icon-view-columns-solid:before {
  content: "\ea1b";
}
.icon-viewfinder-circle-solid:before {
  content: "\ea1c";
}
.icon-wallet-solid:before {
  content: "\ea1d";
}
.icon-wifi-solid:before {
  content: "\ea1e";
}
.icon-window-solid:before {
  content: "\ea1f";
}
.icon-wrench-screwdriver-solid:before {
  content: "\ea20";
}
.icon-wrench-solid:before {
  content: "\ea21";
}
.icon-x-circle-solid:before {
  content: "\ea22";
}
.icon-x-mark-solid:before {
  content: "\ea23";
}
