$icomoon-font-family: "heroicons" !default;
$icomoon-font-path: "fonts" !default;

$icon-academic-cap-solid: "\e900";
$icon-adjustments-horizontal-solid: "\e901";
$icon-adjustments-vertical-solid: "\e902";
$icon-archive-box-arrow-down-solid: "\e903";
$icon-archive-box-x-mark-solid: "\e904";
$icon-archive-box-solid: "\e905";
$icon-arrow-down-circle-solid: "\e906";
$icon-arrow-down-left-solid: "\e907";
$icon-arrow-down-on-square-stack-solid: "\e908";
$icon-arrow-down-on-square-solid: "\e909";
$icon-arrow-down-right-solid: "\e90a";
$icon-arrow-down-tray-solid: "\e90b";
$icon-arrow-down-solid: "\e90c";
$icon-arrow-left-circle-solid: "\e90d";
$icon-arrow-left-on-rectangle-solid: "\e90e";
$icon-arrow-left-solid: "\e90f";
$icon-arrow-long-down-solid: "\e910";
$icon-arrow-long-left-solid: "\e911";
$icon-arrow-long-right-solid: "\e912";
$icon-arrow-long-up-solid: "\e913";
$icon-arrow-path-rounded-square-solid: "\e914";
$icon-arrow-path-solid: "\e915";
$icon-arrow-right-circle-solid: "\e916";
$icon-arrow-right-on-rectangle-solid: "\e917";
$icon-arrow-right-solid: "\e918";
$icon-arrow-small-down-solid: "\e919";
$icon-arrow-small-left-solid: "\e91a";
$icon-arrow-small-right-solid: "\e91b";
$icon-arrow-small-up-solid: "\e91c";
$icon-arrow-top-right-on-square-solid: "\e91d";
$icon-arrow-trending-down-solid: "\e91e";
$icon-arrow-trending-up-solid: "\e91f";
$icon-arrow-up-circle-solid: "\e920";
$icon-arrow-up-left-solid: "\e921";
$icon-arrow-up-on-square-stack-solid: "\e922";
$icon-arrow-up-on-square-solid: "\e923";
$icon-arrow-up-right-solid: "\e924";
$icon-arrow-up-tray-solid: "\e925";
$icon-arrow-up-solid: "\e926";
$icon-arrow-uturn-down-solid: "\e927";
$icon-arrow-uturn-left-solid: "\e928";
$icon-arrow-uturn-right-solid: "\e929";
$icon-arrow-uturn-up-solid: "\e92a";
$icon-arrows-pointing-in-solid: "\e92b";
$icon-arrows-pointing-out-solid: "\e92c";
$icon-arrows-right-left-solid: "\e92d";
$icon-arrows-up-down-solid: "\e92e";
$icon-at-symbol-solid: "\e92f";
$icon-backspace-solid: "\e930";
$icon-backward-solid: "\e931";
$icon-banknotes-solid: "\e932";
$icon-bars-2-solid: "\e933";
$icon-bars-3-bottom-left-solid: "\e934";
$icon-bars-3-bottom-right-solid: "\e935";
$icon-bars-3-center-left-solid: "\e936";
$icon-bars-3-solid: "\e937";
$icon-bars-4-solid: "\e938";
$icon-bars-arrow-down-solid: "\e939";
$icon-bars-arrow-up-solid: "\e93a";
$icon-battery-0-solid: "\e93b";
$icon-battery-50-solid: "\e93c";
$icon-battery-100-solid: "\e93d";
$icon-beaker-solid: "\e93e";
$icon-bell-alert-solid: "\e93f";
$icon-bell-slash-solid: "\e940";
$icon-bell-snooze-solid: "\e941";
$icon-bell-solid: "\e942";
$icon-bolt-slash-solid: "\e943";
$icon-bolt-solid: "\e944";
$icon-book-open-solid: "\e945";
$icon-bookmark-slash-solid: "\e946";
$icon-bookmark-square-solid: "\e947";
$icon-bookmark-solid: "\e948";
$icon-briefcase-solid: "\e949";
$icon-bug-ant-solid: "\e94a";
$icon-building-library-solid: "\e94b";
$icon-building-office-2-solid: "\e94c";
$icon-building-office-solid: "\e94d";
$icon-building-storefront-solid: "\e94e";
$icon-cake-solid: "\e94f";
$icon-calculator-solid: "\e950";
$icon-calendar-days-solid: "\e951";
$icon-calendar-solid: "\e952";
$icon-camera-solid: "\e953";
$icon-chart-bar-square-solid: "\e954";
$icon-chart-bar-solid: "\e955";
$icon-chart-pie-solid: "\e956";
$icon-chat-bubble-bottom-center-text-solid: "\e957";
$icon-chat-bubble-bottom-center-solid: "\e958";
$icon-chat-bubble-left-ellipsis-solid: "\e959";
$icon-chat-bubble-left-right-solid: "\e95a";
$icon-chat-bubble-left-solid: "\e95b";
$icon-chat-bubble-oval-left-ellipsis-solid: "\e95c";
$icon-chat-bubble-oval-left-solid: "\e95d";
$icon-check-badge-solid: "\e95e";
$icon-check-circle-solid: "\e95f";
$icon-check-solid: "\e960";
$icon-chevron-double-down-solid: "\e961";
$icon-chevron-double-left-solid: "\e962";
$icon-chevron-double-right-solid: "\e963";
$icon-chevron-double-up-solid: "\e964";
$icon-chevron-down-solid: "\e965";
$icon-chevron-left-solid: "\e966";
$icon-chevron-right-solid: "\e967";
$icon-chevron-up-down-solid: "\e968";
$icon-chevron-up-solid: "\e969";
$icon-circle-stack-solid: "\e96a";
$icon-clipboard-document-check-solid: "\e96b";
$icon-clipboard-document-list-solid: "\e96c";
$icon-clipboard-document-solid: "\e96d";
$icon-clipboard-solid: "\e96e";
$icon-clock-solid: "\e96f";
$icon-cloud-arrow-down-solid: "\e970";
$icon-cloud-arrow-up-solid: "\e971";
$icon-cloud-solid: "\e972";
$icon-code-bracket-square-solid: "\e973";
$icon-code-bracket-solid: "\e974";
$icon-cog-6-tooth-solid: "\e975";
$icon-cog-8-tooth-solid: "\e976";
$icon-cog-solid: "\e977";
$icon-command-line-solid: "\e978";
$icon-computer-desktop-solid: "\e979";
$icon-cpu-chip-solid: "\e97a";
$icon-credit-card-solid: "\e97b";
$icon-cube-transparent-solid: "\e97c";
$icon-cube-solid: "\e97d";
$icon-currency-bangladeshi-solid: "\e97e";
$icon-currency-dollar-solid: "\e97f";
$icon-currency-euro-solid: "\e980";
$icon-currency-pound-solid: "\e981";
$icon-currency-rupee-solid: "\e982";
$icon-currency-yen-solid: "\e983";
$icon-cursor-arrow-rays-solid: "\e984";
$icon-cursor-arrow-ripple-solid: "\e985";
$icon-device-phone-mobile-solid: "\e986";
$icon-device-tablet-solid: "\e987";
$icon-document-arrow-down-solid: "\e988";
$icon-document-arrow-up-solid: "\e989";
$icon-document-chart-bar-solid: "\e98a";
$icon-document-check-solid: "\e98b";
$icon-document-duplicate-solid: "\e98c";
$icon-document-magnifying-glass-solid: "\e98d";
$icon-document-minus-solid: "\e98e";
$icon-document-plus-solid: "\e98f";
$icon-document-text-solid: "\e990";
$icon-document-solid: "\e991";
$icon-ellipsis-horizontal-circle-solid: "\e992";
$icon-ellipsis-horizontal-solid: "\e993";
$icon-ellipsis-vertical-solid: "\e994";
$icon-envelope-open-solid: "\e995";
$icon-envelope-solid: "\e996";
$icon-exclamation-circle-solid: "\e997";
$icon-exclamation-triangle-solid: "\e998";
$icon-eye-dropper-solid: "\e999";
$icon-eye-slash-solid: "\e99a";
$icon-eye-solid: "\e99b";
$icon-face-frown-solid: "\e99c";
$icon-face-smile-solid: "\e99d";
$icon-film-solid: "\e99e";
$icon-finger-print-solid: "\e99f";
$icon-fire-solid: "\e9a0";
$icon-flag-solid: "\e9a1";
$icon-folder-arrow-down-solid: "\e9a2";
$icon-folder-minus-solid: "\e9a3";
$icon-folder-open-solid: "\e9a4";
$icon-folder-plus-solid: "\e9a5";
$icon-folder-solid: "\e9a6";
$icon-forward-solid: "\e9a7";
$icon-funnel-solid: "\e9a8";
$icon-gif-solid: "\e9a9";
$icon-gift-top-solid: "\e9aa";
$icon-gift-solid: "\e9ab";
$icon-globe-alt-solid: "\e9ac";
$icon-globe-americas-solid: "\e9ad";
$icon-globe-asia-australia-solid: "\e9ae";
$icon-globe-europe-africa-solid: "\e9af";
$icon-hand-raised-solid: "\e9b0";
$icon-hand-thumb-down-solid: "\e9b1";
$icon-hand-thumb-up-solid: "\e9b2";
$icon-hashtag-solid: "\e9b3";
$icon-heart-solid: "\e9b4";
$icon-home-modern-solid: "\e9b5";
$icon-home-solid: "\e9b6";
$icon-identification-solid: "\e9b7";
$icon-inbox-arrow-down-solid: "\e9b8";
$icon-inbox-stack-solid: "\e9b9";
$icon-inbox-solid: "\e9ba";
$icon-information-circle-solid: "\e9bb";
$icon-key-solid: "\e9bc";
$icon-language-solid: "\e9bd";
$icon-lifebuoy-solid: "\e9be";
$icon-light-bulb-solid: "\e9bf";
$icon-link-solid: "\e9c0";
$icon-list-bullet-solid: "\e9c1";
$icon-lock-closed-solid: "\e9c2";
$icon-lock-open-solid: "\e9c3";
$icon-magnifying-glass-circle-solid: "\e9c4";
$icon-magnifying-glass-minus-solid: "\e9c5";
$icon-magnifying-glass-plus-solid: "\e9c6";
$icon-magnifying-glass-solid: "\e9c7";
$icon-map-pin-solid: "\e9c8";
$icon-map-solid: "\e9c9";
$icon-megaphone-solid: "\e9ca";
$icon-microphone-solid: "\e9cb";
$icon-minus-circle-solid: "\e9cc";
$icon-minus-small-solid: "\e9cd";
$icon-minus-solid: "\e9ce";
$icon-moon-solid: "\e9cf";
$icon-musical-note-solid: "\e9d0";
$icon-newspaper-solid: "\e9d1";
$icon-no-symbol-solid: "\e9d2";
$icon-paint-brush-solid: "\e9d3";
$icon-paper-airplane-solid: "\e9d4";
$icon-paper-clip-solid: "\e9d5";
$icon-pause-circle-solid: "\e9d6";
$icon-pause-solid: "\e9d7";
$icon-pencil-square-solid: "\e9d8";
$icon-pencil-solid: "\e9d9";
$icon-phone-arrow-down-left-solid: "\e9da";
$icon-phone-arrow-up-right-solid: "\e9db";
$icon-phone-x-mark-solid: "\e9dc";
$icon-phone-solid: "\e9dd";
$icon-photo-solid: "\e9de";
$icon-play-circle-solid: "\e9df";
$icon-play-pause-solid: "\e9e0";
$icon-play-solid: "\e9e1";
$icon-plus-circle-solid: "\e9e2";
$icon-plus-small-solid: "\e9e3";
$icon-plus-solid: "\e9e4";
$icon-power-solid: "\e9e5";
$icon-presentation-chart-bar-solid: "\e9e6";
$icon-presentation-chart-line-solid: "\e9e7";
$icon-printer-solid: "\e9e8";
$icon-puzzle-piece-solid: "\e9e9";
$icon-qr-code-solid: "\e9ea";
$icon-question-mark-circle-solid: "\e9eb";
$icon-queue-list-solid: "\e9ec";
$icon-radio-solid: "\e9ed";
$icon-receipt-percent-solid: "\e9ee";
$icon-receipt-refund-solid: "\e9ef";
$icon-rectangle-group-solid: "\e9f0";
$icon-rectangle-stack-solid: "\e9f1";
$icon-rocket-launch-solid: "\e9f2";
$icon-rss-solid: "\e9f3";
$icon-scale-solid: "\e9f4";
$icon-scissors-solid: "\e9f5";
$icon-server-stack-solid: "\e9f6";
$icon-server-solid: "\e9f7";
$icon-share-solid: "\e9f8";
$icon-shield-check-solid: "\e9f9";
$icon-shield-exclamation-solid: "\e9fa";
$icon-shopping-bag-solid: "\e9fb";
$icon-shopping-cart-solid: "\e9fc";
$icon-signal-slash-solid: "\e9fd";
$icon-signal-solid: "\e9fe";
$icon-sparkles-solid: "\e9ff";
$icon-speaker-wave-solid: "\ea00";
$icon-speaker-x-mark-solid: "\ea01";
$icon-square-2-stack-solid: "\ea02";
$icon-square-3-stack-3d-solid: "\ea03";
$icon-squares-2x2-solid: "\ea04";
$icon-squares-plus-solid: "\ea05";
$icon-star-solid: "\ea06";
$icon-stop-circle-solid: "\ea07";
$icon-stop-solid: "\ea08";
$icon-sun-solid: "\ea09";
$icon-swatch-solid: "\ea0a";
$icon-table-cells-solid: "\ea0b";
$icon-tag-solid: "\ea0c";
$icon-ticket-solid: "\ea0d";
$icon-trash-solid: "\ea0e";
$icon-trophy-solid: "\ea0f";
$icon-truck-solid: "\ea10";
$icon-tv-solid: "\ea11";
$icon-user-circle-solid: "\ea12";
$icon-user-group-solid: "\ea13";
$icon-user-minus-solid: "\ea14";
$icon-user-plus-solid: "\ea15";
$icon-user-solid: "\ea16";
$icon-users-solid: "\ea17";
$icon-variable-solid: "\ea18";
$icon-video-camera-slash-solid: "\ea19";
$icon-video-camera-solid: "\ea1a";
$icon-view-columns-solid: "\ea1b";
$icon-viewfinder-circle-solid: "\ea1c";
$icon-wallet-solid: "\ea1d";
$icon-wifi-solid: "\ea1e";
$icon-window-solid: "\ea1f";
$icon-wrench-screwdriver-solid: "\ea20";
$icon-wrench-solid: "\ea21";
$icon-x-circle-solid: "\ea22";
$icon-x-mark-solid: "\ea23";

